    body {
            background: linear-gradient(to bottom right, #f0f4ff, #d5e1ff);
        }

        #containment-wrapper {
            position: relative;
            height: 400px;
            border: 2px dashed #7e3939;
            border-radius: 10px;
            background: #a79a9acb;
            backdrop-filter: blur(3px);
        }

        #doge-meme-pic {
            cursor: grab;
        }

        #doge-meme-pic:active {
            cursor: grabbing;
        }

        .score-box {
            background: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        }

        .navbar-brand {
            font-size: 18px;
            font-weight: bold;
        }

